/* styles.Css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

.search-container {
    margin-top: 20px;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    cursor: pointer;
}

#pdfViewer {
    margin-top: 20px;
}

#mensajeError {
    margin-top: 20px;
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #ff0000;
    display: none;
    /* Inicialmente oculto */
}

#mensajeError p {
    color: #ff0000;
    margin-bottom: 10px;
}

#mensajeError button {
    padding: 10px;
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    border: none;
}

.pdf-viewer {
    margin-top: 20px;
}

.pdf-list {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.pdf-names {
    list-style: none;
    padding: 0;
}

.pdf-names li {
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
}

.pdf-names li:hover {
    background-color: #f0f0f0;
}