<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Materias Primas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Consulta de Materias Primas</h1>
        <div class="search-container">
            <form method="post" action="/buscar" id="consultaForm">
                {% csrf_token %}
                <input type="text" id="codigoInput" name="codigo" placeholder="Ingrese el código">
                <button type="button" onclick="buscar()">Buscar</button>
            </form>
        </div>
        <div id="mensajeError" style="display: none;">
            <p id="errorTexto"></p>
            <button onclick="enviarCorreo()">Enviar Correo</button>
        </div>
    </div>
    <!-- Bloque de scripts JavaScript en index.html -->
    <script>
        function buscar() {
            var codigo = document.getElementById("codigoInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/buscar", true);
        
            // Agrega el token CSRF al encabezado de la solicitud
            var csrftoken = getCookie('csrftoken');
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        // Si la solicitud es exitosa, abrir el PDF en una nueva pestaña
                        abrirPDF(xhr.response);
                    } else {
                        // Mostrar mensaje de error
                        document.getElementById("mensajeError").style.display = "block";
                        document.getElementById("errorTexto").innerText = "Error: No se pudo encontrar el PDF.";
                    }
                }
            };
            xhr.responseType = 'blob'; // Indicar que la respuesta es un archivo
            xhr.send("codigo=" + codigo);
        }

        function abrirPDF(pdfBlob, nombreArchivo) {
            var url = URL.createObjectURL(pdfBlob);
        
            // Abrir el PDF en una nueva pestaña del navegador
            window.open(url, '_blank');
        }

        // Función para obtener el valor del token CSRF de las cookies
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.getElementById("consultaForm").addEventListener("keypress", function(event) {
            // Verificar si la tecla presionada es "Enter"
            if (event.key === "Enter") {
                // Prevenir la acción predeterminada del formulario (recargar la página)
                event.preventDefault();
                // Llamar a la función buscar()
                buscar();
            }
        });

        function enviarCorreo() {
            var codigo = document.getElementById("codigoInput").value;
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/enviar_correo_django?codigo=" + codigo, true);
        
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        // Correo enviado correctamente
                        alert("Correo enviado correctamente.");
                    } else {
                        // Error al enviar el correo
                        alert("Error al enviar el correo.");
                    }
                }
            };
        
            xhr.send();
        }
        
    </script>
</body>

</html>






